.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* .topNavBar {

}

.logo {
    float: left;
} */

.topNavBar>nav>ul>li {
    margin: 36px 18px 0 18px;
    font-size: 12px;
    float: left;
    list-style: none;
    /* border: 1px solid green; */
}

.topNavBar>nav>ul>li>a {
    text-decoration: none;
    color: #c2c4c6;
}

.topNavBar>nav>ul {
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}